/*
pre, .pre  {
  overflow-x: auto;
  overflow-y: hidden;
  overflow:   scroll;
}
*/


pre code {
  display: block;
  padding: 1em;
  white-space: pre;
  font-size: .875rem;
  /*line-height: 2;*/
  font-family: 'Fira Mono', monospace;
  text-rendering: optimizeLegibility;
  border: solid;
  border-width: 0.5px;
  border-color: #b0b0b0;
  white-space: pre-wrap;
}

pre {
  background-color: #222;
  color: #ddd;
  white-space: pre;

  hyphens: none;
  position: relative;
}
