@import '_tachyons';
@import '_code';
@import '_hugo-internal-templates';
@import '_social-icons';
@import '_styles';

@font-face {
    font-family: 'Concourse';
    font-style: normal;
    font-weight: 400;
    src: url('../font/Concourse T3 Regular.otf') format("opentype");
}

@font-face {
    font-family: 'Concourse';
    font-style: normal;
    font-weight: 700;
    src: url('../font/Concourse T3 Bold.otf') format("opentype");
}

@font-face {
    font-family: 'Concourse';
    font-style: italic;
    font-weight: 400;
    src: url('../font/Concourse T3 Italic.otf') format("opentype");
}

@font-face {
    font-family: 'Concourse';
    font-style: italic;
    font-weight: 700;
    src: url('../font/Concourse T3 Bold Italic.otf') format("opentype");
}

.sans-serif {
    font-family: 'Concourse', -apple-system, BlinkMacSystemFont,'avenir next', avenir,
                 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial,
                 sans-serif;
  }

.nested-copy-line-height p,
.nested-copy-line-height ul,
.nested-copy-line-height ol {
  line-height: 1.3;
}