@import '_tachyons';
@import '_code';
@import '_hugo-internal-templates';
@import '_social-icons';
@import '_styles';
@import '_fira_mono_font';
@import '_fira_sans_font';

.sans-serif {
    font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont,'avenir next', avenir,
                 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial,
                 sans-serif;
    text-rendering: optimizeLegibility;
  }

code, .code {
    font-family: 'Fira Mono', monospace;
    text-rendering: optimizeLegibility;
}

.nested-copy-line-height p,
.nested-copy-line-height ul,
.nested-copy-line-height ol {
  line-height: 1.3;
}

h2 .summary {
    margin-bottom: 1.0rem;
}

article h2 {
    margin-bottom: -1.0rem;
}

.summary-body p {
    font-style: italic;
}

.katex {
    font-size: 1em !important;
}

.f2, .f2-l, .f2-m, .f2-ns {
    font-size: 2.0rem; /*default is 2.25*/
}

.f4, .f4-l, .f4-m, .f4-ns {
    font-size: 1.1rem; /*default is 1.25*/
}

.bg-near-white {
    background-color:#fcfcfc;
}